:root {
  --white: #fff;
  --main-font: #202020;
  --accent: #002d96;
  --accent-hover: #092651;
  --pale: #737373;
  --grey: #7c7c7c;
  --red: #d60000;
  --section-bg: #f1f5f7;
  --credit-bg: #021724;
}
